@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

a {
  display: block;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Orbitron", sans-serif;
}

.pages {
  margin: 100px 20px 0;
}

.header {
  background-color: rgb(6, 6, 102);
  position: relative;
  padding-bottom: 20px;
  max-width: 1400px;
  margin: 0 auto;
}
.header__info {
  padding-top: 50px;
}
.header__info-img {
  position: absolute;
  height: 150px;
  width: 120px;
  top: -100px;
  left: 50%;
  margin-left: -60px;
  border: 6px solid #863e03;
  border-radius: 10%;
  transition: 0.5s;
  cursor: zoom-in;
}
.header__info-img:hover {
  width: 250px;
  height: 400px;
  margin-left: -125px;
}
.header__info-title {
  text-align: center;
  color: white;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
}
.header__info-subtitle {
  text-align: center;
  margin-top: 5px;
  color: white;
}
.header__info-subtitle span {
  color: rgb(9, 192, 85);
  font-weight: 700;
}

.main {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
}

.info {
  width: 30%;
}
.info .end {
  border-bottom: 1px solid #ccc;
}
.info__text {
  padding: 20px;
  margin-top: 30px;
}
.info__text-titles {
  text-align: center;
  margin-bottom: 20px;
}
.info__text-ul {
  padding: 0;
  margin: 0;
  margin-left: 20px;
}
.info__text-ul-li {
  margin-top: 10px;
  padding-left: 0;
  color: red;
}
.info__text-ul-li .span-text {
  color: black;
}

.works {
  width: 70%;
}
.works__content {
  margin-top: 50px;
}
.works__content-title {
  text-align: center;
}
.works__content-repositories {
  margin-top: 100px;
  padding: 0 50px;
  border: 1px solid #ccc;
}
.works__content-repositories a {
  display: inline;
  font-weight: 700;
  color: black;
  transition: 0.3s;
}
.works__content-repositories a:hover {
  color: blue;
}
.works__content-repositories-title {
  text-align: center;
}

.reviews {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 0px;
}
.reviews__text-title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
.reviews__text-card {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.reviews__text-card .card1 {
  margin: 0 auto;
}
.reviews__text-card .card2 {
  margin: 0 auto;
}
.reviews__text-card .card3 {
  width: 100%;
  margin: 0 auto;
}
.reviews__text-card .card {
  display: flex;
  width: 45%;
  background-color: rgb(25, 16, 73);
  border-radius: 20px;
  padding: 20px 10px;
  margin-top: 20px;
}
.reviews__text-card .card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 8%;
}
.reviews__text-card .card .card-text {
  margin-left: 20px;
}
.reviews__text-card .card .card-text .card-title,
.reviews__text-card .card .card-text .card-subtitle {
  color: white;
}
.reviews__text-card .card .card-text .card-subtitle {
  margin: 10px 0px;
  font-weight: 100;
}
.reviews__text-card .card .card-text .card-info-text {
  color: white;
  font-weight: 400;
  line-height: 25px;
}

.footer {
  max-width: 1400px;
  margin: 20px auto 0;
}
.footer-title {
  text-align: center;
}
.footer__info {
  text-align: center;
}
.footer__info-numbers {
  font-weight: 700;
  margin-top: 20px;
}
.footer__info-numbers a {
  display: inline;
}
.footer__info-adress {
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
}

.swiper {
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

.slide1 {
  transition: 0.3s;
}
.slide1 a {
  width: inherit;
  background-color: aliceblue;
}
.slide1 img {
  width: 100%;
}
.slide1 .slide-text {
  color: black;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.slide2 {
  transition: 0.3s;
}
.slide2 a {
  width: inherit;
  background-color: aliceblue;
}
.slide2 img {
  width: 100%;
}
.slide2 .slide-text {
  color: black;
  margin-top: 20px;
  font-weight: 700;
  text-align: center;
}

.slide1:hover {
  outline: 3px solid blue;
}

.slide2:hover {
  outline: 3px solid blue;
}

.swiper {
  position: relative;
}

.swiper-button-prev,
.swiper-button-next {
  top: 320px;
}

.swiper-button-prev::after {
  content: "←";
  color: black;
  font-weight: 700;
  opacity: 0.7;
}

.swiper-button-next::after {
  content: "→";
  color: black;
  font-weight: 700;
  opacity: 0.7;
}

.swiper-button-prev:hover,
.swiper-button-next:hover {
  opacity: 1;
}

.btn-span {
  position: absolute;
  left: 40px;
}

.btn-span,
.btn {
  color: black;
  position: absolute;
  top: 17px;
  opacity: 0.6;
  transition: 0.3s;
  font-weight: 700;
}

.btn {
  right: 40px;
}

.btn:hover,
.btn-span:hover {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */